<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xd.aselab.chinabank_shop"
    android:versionCode="6"
    android:versionName="3.0.0">

    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.IMAGE_CAPTURE" /> <!-- 高德地图权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> <!-- 极光推送 -->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden|stateUnchanged">
        <!--<activity android:name=".activity.Lobby.fragment.LobbyMainFragment"></activity>-->
        <!--
        友盟数据
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
         android:theme="@style/Theme.AppCompat.NoActionBar"
        -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7f4352e0eda1f8266559e96db0b3d1b0" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57ce79bf67e58e641c0024a9" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="ChinaBankShop" />

        <service android:name="com.amap.api.location.APSService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xd.aselab.chinabank_shop.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.publicChinaBankShop.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".photo.ImageFile"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".photo.ShowAllPhoto"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".photo.AlbumActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".photo.GalleryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.publicChinaBankShop.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.worker.RegisterClerkActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.shop.ShopRegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.shop.ShopMainPageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.worker.ClerkMainPageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.publicChinaBankShop.MyContactActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.shop.ShopInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.shop.MyInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.shop.ApplyTerminateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.shop.ShopChangePswActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.shop.ShopChangeTelActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.shop.ShopkeeperPerformanceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.shop.AddCardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.worker.WorkerMyInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.shop.ShopMyDimerCode"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.worker.WorkerChangePsw"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.worker.WorkerChangeTel"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.shop.ShopMyManagement"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.hotrecommnder.MainHotCardDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.hotrecommnder.MainHotRecommenderActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.shop.ShopMyWorkers"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.worker.WorkerMyPerformance"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.shop.ShopMyWorkersTran"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.publicChinaBankShop.ChinaBankBenefit"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.publicChinaBankShop.CBBenefitDetail"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.publicChinaBankShop.CBNetwork"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.publicChinaBankShop.WhereToGo"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.publicChinaBankShop.WalkingRoute"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.publicChinaBankShop.SecureQuestionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.publicChinaBankShop.ForgetPsw1Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.publicChinaBankShop.ForgetPsw2Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.publicChinaBankShop.ForgetPsw3Activity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.publicChinaBankShop.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CardDiv.CardDivMainPage"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardDiv.CardDiv_My_Info"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardDiv.CardDiv_My_Performance"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardDiv.CardDiv_My_Recommend"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardDiv.CardDiv_My_Info_Info"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardDiv.CardDiv_Check_Public"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardDiv.CardDiv_Public_Info"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_card_div__public__info"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardDiv.CardDiv_Cancel_League"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardDiv.CardDiv_Change_Password"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardDiv.CardDiv_Change_Tel"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardDiv.CardDiv_My_Recommend_Result"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardDiv.CardDiv_My_Recommend_List"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardDiv.CardDiv_My_Recommend_Fail"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.personalLoan.Personal_My_Main_Page" />
        <activity
            android:name=".activity.CardDiv.ChangePhotoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardDiv.CardDiv_My_Register"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardDiv.CardDiv_NewMainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardDiv.Group_info"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardDiv.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.publicChinaBankShop.FontActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.publicChinaBankShop.MyTest"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardDiv.NewGroup"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".chat.ui.GroupChatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".chat.ui.ChatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" /> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.xd.aselab.chinabank_shop" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver> <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />
        <receiver
            android:name=".util.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.xd.aselab.chinabank_shop" />
            </intent-filter>
        </receiver>
        <receiver android:name=".util.jpush.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.xd.aselab.chinabank_shop" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.publicChinaBankShop.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.mabeijianxi.smallvideorecord2.MediaRecorderActivity" />
        <activity
            android:name=".activity.CardDiv.CardDivMyRecommend2"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardDiv.CardDivExchangeScoreActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CardDiv.CardDivScoreShopActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.Lobby.LobbyMainPageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.Lobby.Lobby_ChangePsw"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.Lobby.Lobby_My_ExchangeScore"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.Lobby.Lobby_My_Page"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.Lobby.Lobby_My_Info"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.Lobby.Lobby_ChangeTel"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.Lobby.Lobby_Recommend_ApplyCard"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden|stateUnspecified" />
        <activity
            android:name=".activity.Lobby.Lobby_Recommend_List"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.Lobby.LobbyPerformance"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activity.Lobby.SecureQustionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>

</manifest>